*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navtext{
    color: white;
    font-size: 27px;
    font-family: sans-serif;
    font-weight: bolder;
}

#divimg{
    display: flex;
    align-items: center;
    border-style: groove;
    border-radius: 4px;
    border-color: white;
    margin: 5px;
    border-width: 1px;
}

#link{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#navlink{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-left: 20px;
    font-family:sans-serif ;
    position: relative;
}

#navlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  #navlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

#login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bar{
    display: none;
}

@media(max-width:768px){
    #nav{
        background-color: black;
        flex-direction: column;
        align-items: flex-start;
    }

    #a1{
        margin-bottom: 15px;
    }
    #link{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    #navtext{
        display: none;
    }

    #divimg{
        display: none;
    }

    #login{
        display: none;
    }

    #bar{
        cursor: pointer;
        display: block;
        color: white;
        font-size: 30px;
        font-weight: bolder;
        margin-left: 15px;
        margin-top: 15px;
        transition-duration: 0.5s;
    }

    #bar:hover{
        transform: scale(1.2);
        transform: rotate(180deg);
    }
}

#bgimage{
    margin: 15px;
    height: 700px;
    background-image: url("maldives.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#heven{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
}

#maldives{
    color: white;
    font-size: 150px;
    font-weight: bolder;
    padding-top: 40px;
}

#text{
    color: white;
    font-size: 20px;
}

#selection{
    background-color: white;
    width:fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 5%;
}

#select1{
    height: 40px;
    width: 250px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    border-radius: 8px;
    color: rgb(65, 65, 65);
    margin-right: 10px;
}

button{
  background-color:orange;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding:8px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

#hotels{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#hotel1{
    height: 350px;
    width: 350px;
    background-image: url("maldives.jpg");
}

#hotelimg{
    transition-duration: 0.7s;
}
#hotelimg:hover{
    transform: scale(1.03);
}